html {
  color: #ddd;
  font-size: 1em;
  line-height: 1.4;
}

body {
  text-align: center;
  background-color: #2b2b2b;
  font-family: "Special Elite", "Times New Roman", Times, Georgia, serif;
}

.container {
  margin: 0 auto;
  padding-top: 20px;
  width: 320px;
}

h1 {
  font-weight: normal;
}

h2 {
  margin-bottom: .2rem;
}

.input-area {
  width: 90%;
  border-radius: 8px;
  border: solid 1px #444;
  background: #3a3a3a;
  margin: 0 auto 2rem;

  &.closed {

  }

  &.open {
    padding: 1.5em 0;
  }

}

#tap-pad {
}

#key-in {

  .mcode {
    background-color: #2b2b2b;
    border: solid 1px #555;
    border-radius: 4px;
    width: 90%;
    padding: 0.5rem;
  }

  .mcode:focus {
    outline: 0;
  }
}


img {
  width: 90%;
}

header {
  display: inline-block;
  margin: 0 auto;
}

header .instruction {
  text-align: right;
}

.output {
  margin: 20px;
  font-size: 1.4rem;
  text-align: left;
}

.small {
  font-size: 0.7rem;
}














/* ==========================================================================
Helper classes
========================================================================== */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
